* {
  background-color: black;
  color: white;
  text-align: center;
}

.yesButton {
  margin: .4rem;
  font-size: 2rem;
  border: .5rem double white;
  border-radius: 10%;
}

.noButton {
  margin: .4rem;
  font-size: 2rem;
  border: .5rem double white;
  border-radius: 10%;
}